numpy
tensorboard
ConfigArgParse
plotly
shapely
scipy
scikit-learn
pillow
pandas
joblib
wandb
trimesh
mesh_to_sdf
seaborn
tabulate
sentence_transformers
torchdiffeq
torch-summary
pygame
gitpython
moviepy
scikit-video
torch==2.2.2
tqdm~=4.43.0
setuptools~=70.2.0
matplotlib~=3.7.5
pyyaml~=6.0.2
einops~=0.6.1
opencv-python~=4.10.0.84
hydra-core==1.3.2
urdfpy~=0.0.22
gdown~=5.2.0
networkx~=2.2
cholespy~=2.0.0